:root{
    --gLightbg: #00aa91;
    --gLightbgD: #007462;
    --whiteBg: #ffffff;
    --graybg: #eeeeee;
    --darkfo: #363636;
    --blackfo: #000000;
    --swiftBlack: #363636e2;
    --tSwiftBlack: #36363666;

    --yellow: #ffdd00;
    --yellowD: #f3d200;
    --yellowT: #fbd900f4;
    --yellowF: #e8c900;

    --red: #ff424d;
    --redD: #ff2933;
    --redT: #ff424bd5;
    --redF: #ff1521;

    --blue: #1073eb;
    --blueD: #0f59d6;
    --blueT: #114ccc;
    --blueF: #114ccc;
}
*{
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-thumb {
    background: var(--gLightbg);
}
html{
    overflow-y: auto;
}
body,html{
    min-height: 400px;
    background-color: var(--graybg) !important;
}
.conatiner{
    min-width: 420px;
    padding: 12px 0 0 0;
    margin-bottom: 0;
    transition: opacity 0.8s;
}
.chat{
    height: 500px;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.innerContainer{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
}

.msg {
    width: fit-content;
    background-color: rgb(42, 55, 50);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 7px;
    position: relative;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 15px;
    color: var(--whiteBg);
    font-weight: 400;
    font-size: 14px;
    white-space: pre-wrap;
}
.msg.you {
    background-color: var(--gLightbg);
    position: relative;
    margin-right: 10px;
    direction: ltr;
}
.msg.you::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 8px);
    background-color: var(--gLightbg);
    height: 12px;
    width: 15px;
    border-radius: 0px 2px 100% 0px;
}
.msg.ai::after {
    position: absolute;
    content: "";
    top: 0;
    right: calc(100% - 8px);
    background-color: rgb(42, 55, 50);
    height: 12px;
    width: 15px;
    border-radius: 2px 0px 0% 100%;
}
.msg.ai {
    margin-left: 10px;
}
.msgboxContR {
    width: 100%;
    direction: rtl;
}
.msgboxCont {
    width: 100%;
}
.msgboxContR + .msgboxContR .msg::after{
    display: none;
}
.msgboxCont + .msgboxCont .msg::after{
    display: none;
}


.controler{
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.controler .input{
    resize: vertical;
    white-space: pre-wrap;
    min-height: 24px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 18px;
    padding-left: 2px;
    overflow: hidden;
    border: none ;
    outline: none ;
    box-shadow: none ;
    background-color: transparent !important;
}
.controler .input::placeholder{
    color: #363636 !important;
    font-size: 14px;
}
.controler .input:focus, .controler .input:active{
    border: none ;
    outline: none ;
    box-shadow: none ;
}
.contbtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.sendBTN{
    padding-left: 10px;
    color: var(--gLightbg);
}


.trans{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}
.load{
    background-color: var(--whiteBg);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.centeredBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    transition: opacity 0.5s;
    width: 100%;
    padding: 0 15px
}
.centeredBox img{
    width: 140px;
}
.centeredBox .authorname {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    color: var(--darkfo);
}
.centeredBox .powered{
    font-weight: 500;
    color: var(--blackfo);
    font-size: 16px;
}
.centeredBox .fnames{
    font-weight: 700;
    color: var(--gLightbg);
}

.settings{
    font-size: 19px;
    padding-right: 15px;
    color: var(--gLightbg);
}
.apiControls {
    background-color: var(--swiftBlack);
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 14px 12px;
    border-radius: 0 10px 0 0;
    transition: 0.5s all;
}
.apiControls.trans{
    opacity: 0;
}
.apiControls.trans *{
    opacity: 0;
}
.select, select, input{
    width: 100%;
}
.label {
    margin-bottom: 2px !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 12.5px !important;
    color: var(--graybg) !important;
}
.field{
    margin-bottom: 0.3rem !important;
}
.field:last-child{
    margin-bottom: 0rem !important;
}
.zvalue {
    color: #00f2ce;
    font-size: 11px;
    float: right;
    transition: 0.5s opacity;
}
.zvalue.trans {
    opacity: 0.4;
}
.full-shadowBg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--tSwiftBlack);
    z-index: 1001px;
    top: 0;
    transition: 0.25s;
}
.popup {
    width: 100%;
    height: 100vh;
}
.popupbar {
    width: calc(100% - 40px);
    max-width: 600px;
    padding: 15px;
    background-color: var(--whiteBg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--gLightbg);
    margin-right: 20px;
    box-sizing: border-box;
}
.popup ul {
    list-style: disc !important;
    padding-left: 15px !important;
    font-size: 14px;
}
.popupbar .heada {
    font-size: 18px;
    font-weight: 600;
}
.nota {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}
.dWays {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dWays .button {
    margin-top: 7px;
}
.dWays i {
    padding-left: 5px;
    padding-right: 5px;
}
.xmark{
    position: absolute;
    right: 8px;
    font-size: 20px;
    top: 8px;
    cursor: pointer;
}
i.donate{
    padding-left: 8px;
}
.donate{
    font-size: 13px !important;
    font-weight: 700 !important;
}




.full-shadowT{
    position: absolute;
    width: 100%;
    height: 100vh;

    background: rgba(123, 123, 123, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, );
    backdrop-filter: blur(0.85px);
    -webkit-backdrop-filter: blur(0.85px);

    z-index: 1001px;
    top: 0;
    transition: opacity 0.5s;
}
.trnsShowBG::after, .trnsShowBG::before, .popuper::after, .update::after, .update::before{
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 90;
}
.trnsShowBG::after{
    background-image: url('/assets/images/vectors/Half.png');
    width: 220px;
    height: 220px;
    top: 51px;
    left: 56px;
    transform: translate(-50%, -50%) rotate(275deg);
    animation-name: half;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.trnsShowBG::before{
    background-image: url('/assets/images/vectors/Cube.png');
    width: 150px;
    height: 150px;
    bottom: -20px;
    right: -12px;
    transform: translate(-50%, -50%) rotate(0deg);
    animation-name: cube;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.popuper{
    position: relative
}
.popuper::after{
    background-image: url('/assets/images/vectors/Ball.png');
    width: 120px;
    height: 120px;
    animation-name: ball;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}
.update{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 1);
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 12px;
    transition: 0.5s;
}
.update.chrome{
    background: rgba(255, 255, 255, 0.75);
}
.update a{
    text-decoration: underline !important;
    color: var(--gLightbg) !important;
}
.update ul{
    font-size: 15px !important;
}
.para2{
    margin-bottom: 10px !important;
    line-height: 35px !important;
}
.para3{
    margin-bottom: 10px !important;
}
.buttones{
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}


.doNoti {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid var(--gLightbg);
    width: max-content;
    border-radius: 6px;
    height: max-content;
    position: absolute;
    z-index: 100;
    padding: 10px 0 0 0;
    overflow: clip;
    left: 50%;
    transition: top 2s, background 0.5s, color 0.5s;
    top: -10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.doNoti.active:hover {
    background: rgba(0, 0, 0, 0.6);
    color: var(--graybg);
}
.doNoti p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}
.doNoti .border {
    height: 3px;
    background: var(--gLightbgD);
    width: 0%;
    transition: 1.5s;
}
.doNoti.active {
    top: 10%;
}
.doNoti.active .border {
    width: 100%;
}




@keyframes half {
    50%{
        transform: translate(-50%, -50%) rotate(290deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(275deg);
    }
}
@keyframes cube {
    40%{
        transform: translate(-50%, -50%) rotate(180deg);
    }
    50%{
        transform: translate(-50%, -50%) rotate(120deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes ball {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    40%{
        left: calc(50% - 180px);
        transform: translate(-50%, -50%) rotate(60deg);
    }
    70%{
        left: calc(50% + 180px);
        transform: translate(-50%, -50%) rotate(120deg);
    }
    100%{
        left: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
















