:root{
    --gLightbg: #00aa91;
    --whiteBg: #ffffff;
    --graybg: #eeeeee;
    --darkfo: #363636;
    --blackfo: #000000;
    --swiftBlack: #363636e2;
    --tSwiftBlack: #36363666;

    --yellow: #ffdd00;
    --yellowD: #f3d200;
    --yellowT: #fbd900f4;
    --yellowF: #e8c900;

    --red: #ff424d;
    --redD: #ff2933;
    --redT: #ff424bd5;
    --redF: #ff1521;

    --blue: #1073eb;
    --blueD: #0f59d6;
    --blueT: #114ccc;
    --blueF: #114ccc;
}
*{
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-thumb {
    background: var(--gLightbg);
}
html{
    overflow-y: auto;
}
body,html{
    min-height: 400px;
    background-color: var(--graybg) !important;
}
.conatiner{
    min-width: 420px;
    padding: 12px 0 0 0;
    margin-bottom: 0;
    transition: opacity 0.5s;
}
.chat{
    height: 500px;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.innerContainer{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
}

.msg {
    width: fit-content;
    background-color: rgb(42, 55, 50);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 7px;
    position: relative;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 15px;
    color: var(--whiteBg);
    font-weight: 400;
    font-size: 14px;
    white-space: pre-wrap;
}
.msg.you {
    background-color: var(--gLightbg);
    position: relative;
    margin-right: 10px;
    direction: ltr;
}
.msg.you::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 8px);
    background-color: var(--gLightbg);
    height: 12px;
    width: 15px;
    border-radius: 0px 2px 100% 0px;
}
.msg.ai::after {
    position: absolute;
    content: "";
    top: 0;
    right: calc(100% - 8px);
    background-color: rgb(42, 55, 50);
    height: 12px;
    width: 15px;
    border-radius: 2px 0px 0% 100%;
}
.msg.ai {
    margin-left: 10px;
}
.msgboxContR {
    width: 100%;
    direction: rtl;
}
.msgboxCont {
    width: 100%;
}
.msgboxContR + .msgboxContR .msg::after{
    display: none;
}
.msgboxCont + .msgboxCont .msg::after{
    display: none;
}


.controler{
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.controler .input{
    resize: vertical;
    white-space: pre-wrap;
    min-height: 24px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 18px;
    padding-left: 2px;
    overflow: hidden;
    border: none ;
    outline: none ;
    box-shadow: none ;
    background-color: transparent !important;
}
.controler .input::placeholder{
    color: #363636 !important;
    font-size: 14px;
}
.controler .input:focus, .controler .input:active{
    border: none ;
    outline: none ;
    box-shadow: none ;
}
.contbtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.sendBTN{
    padding-left: 10px;
    color: var(--gLightbg);
}


.trans{
    opacity: 0;
    pointer-events: none;
}
.load{
    background-color: var(--whiteBg);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.centeredBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    transition: opacity 0.5s;
    width: 100%;
    padding: 0 15px
}
.centeredBox img{
    width: 140px;
}
.centeredBox .authorname {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    color: var(--darkfo);
}
.centeredBox .powered{
    font-weight: 500;
    color: var(--blackfo);
    font-size: 16px;
}
.centeredBox .fnames{
    font-weight: 700;
    color: var(--gLightbg);
}

.settings{
    font-size: 19px;
    padding-right: 15px;
    color: var(--gLightbg);
}
.apiControls {
    background-color: var(--swiftBlack);
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 14px 12px;
    border-radius: 0 10px 0 0;
    transition: 0.5s all;
}
.apiControls.trans{
    opacity: 0;
}
.apiControls.trans *{
    opacity: 0;
}
.select, select, input{
    width: 100%;
}
.label {
    margin-bottom: 2px !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 12.5px !important;
    color: var(--graybg) !important;
}
.field{
    margin-bottom: 0.3rem !important;
}
.field:last-child{
    margin-bottom: 0rem !important;
}
.zvalue {
    color: #00f2ce;
    font-size: 11px;
    float: right;
    transition: 0.5s opacity;
}
.zvalue.trans {
    opacity: 0.4;
}
.full-shadowBg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--tSwiftBlack);
    z-index: 1001px;
    top: 0;
    transition: 0.25s;
}
.popup {
    width: 100%;
    height: 100vh;
}
.donations {
    width: calc(100% - 40px);
    padding: 15px;
    background-color: var(--whiteBg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--gLightbg);
    margin-right: 20px;
    box-sizing: border-box;
}
.donations ul {
    list-style: disc !important;
    padding-left: 15px !important;
    font-size: 14px;
}
.donations .heada {
    font-size: 18px;
    font-weight: 600;
}
.nota {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}
.dWays {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dWays .button {
    margin-top: 7px;
}
.dWays i {
    padding-left: 5px;
    padding-right: 5px;
}
.xmark{
    position: absolute;
    right: 8px;
    font-size: 20px;
    top: 8px;
    cursor: pointer;
}
i.donate{
    padding-left: 8px;
}
.donate{
    font-size: 13px !important;
    font-weight: 700 !important;
}























